@using E_Commerce.Models;
@model BaiViet

@{
    ViewBag.Title = "Index";
    BaiViet posted = ViewData["post"] as BaiViet;
    Layout = "~/Views/Layout/Blog.cshtml";
}


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ftco-animate fadeInUp ftco-animated">
                <span style="text-align: center;">@posted.NgayDang - @posted.TenTG</span>
                <p>@Html.Raw(posted.ndBaiViet)</p>
                <div class="about-author d-flex p-4 bg-light">
                    <div class="desc align-self-md-center">
                        <h3>Author: @posted.TenTG</h3>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>

