<li class="nav-item cta cta-colored">
    <a href=@Url.Action("CartView", "Cart") class="nav-link">
        <span class="icon-shopping_cart"></span>
        <span id="Cart">[@ViewBag.TotalItem]</span>
    </a>
</li>
