
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/About.cshtml";
}

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/Content/images/about.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate fadeInUp ftco-animated">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Thành lập năm 2022</h2>
                    </div>
                </div>
                <div class="pb-md-5 pb-4">
                    <p>Là một start-up trẻ, với đầy sự nhiệt huyết - chúng tôi luôn luôn đem đến cho tất cả mọi người một sản phẩm tốt nhất và với giá thành hợp lý nhất có thể.</p>
                    <p>Với các chính sách chăm sóc khách hàng, ưu đãi khủng hàng tháng cùng các đợt sale lớn trong năm, hãy đến với chúng tôi - MiniShop !</p>
                    <p><a href=@Url.Action("Shop", "SanPham") class="btn btn-primary">Shop now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

